{{- /* Copyright 2024 Google LLC. All Rights Reserved.

	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at

			http://www.apache.org/licenses/LICENSE-2.0

	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License. */ -}}
---
{{$.MarkdownHeader TemplatePath}}
subcategory: "{{$.ProductMetadata.DisplayName}}"
description: |-
  {{- $.FormatDocDescription (firstSentence $.Description) true }}
---

# {{$.TerraformName}}
{{- if $.DeprecationMessage }}
~> **Warning:** {{$.DeprecationMessage}}
{{- end }}

## Example Usage

```tf 
data {{ $.TerraformName }}

## Arguments Reference 


{{- range $.Parameters }}
- `{{.Name}}` - {{ if .Required }}(Required){{ else }}(Optional){{ end }} {{.Description}}
{{- end }}

## Attributes Reference

In addition to the arguments listed above, the following computed attributes are exported:

* `id` - an identifier for the resource with format `{{$.IdFormat}}`
{{ range $p := $.RootProperties }}
	{{- if $p.Output }}
{{- trimTemplate "property_documentation.html.markdown.tmpl" $p }}
	{{- end}}
{{- end }}
{{- if $.HasSelfLink -}}
* `self_link` - The URI of the created resource.
{{ "" }}
{{- end }}
{{- if $.Docs.Attributes }}
{{ $.Docs.Attributes }}
{{- end }}
{{ range $p := $.AllUserProperties }}
	{{- if $p.Output }}
{{- trimTemplate "nested_property_documentation.html.markdown.tmpl" $p }}
	{{- end }}
{{- end }}